<!DOCTYPE html>

<html ng-app="app" ng-controller="appCtrl">
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta content="black" name="apple-mobile-web-app-status-bar-style" />
		<meta content="telephone=no" name="format-detection" />
<title>登录</title>
<link rel="stylesheet" type="text/css" href="/login/login.css" />
</head>

<body>
	<div id="container">
		<br /> <br /> <br />
		<header>
			<img alt="yukuj_logo" src="/login/login.png">
		</header>

		<br />
		<!-- 正文内容 -->
		<div id="content">

			<form id="input-form" method="post">

				<input id="accountName" name="accountName" maxlength="320" ng-model="username"
					type="text" class="input-block input-large" placeholder=" 输入您的账号" />

				<input id="accountName" name="accountName" maxlength="320" ng-model="password"
					type="text" class="input-block input-large" placeholder=" 输入您的密码" />
					
				<button  id="submit" class="but" ng-click="doLogin()" >登录</button>
				
				<ul id="help-links">
				<li>asd</li>
				<li>qwe</li>
				
				</ul>
				
				
			</form>
		</div>
	</div>

	<footer id="footer">
		<hr align="center" width="80%">
		<a
			href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action">皖ICP备15026601号</a>

	</footer>
	<script type="text/javascript" src="/js/jquery-1.11.0.min.1UgDG.js"></script>
	<script type="text/javascript" src="/js/angular.min.js"></script>
	<script type="text/javascript" src="/js/login.js"></script>
</body>
</html>